/*METODOLOGIA*/

/* Block */
.preguntas{
    background-color: #4A9E63;
    text-align: center;


}

/* Element */
.preguntas__texto{
    
    color: #F1C6C5;

}

.preguntas__parrafo{
    color: white;
    font-size: 25px;

}
/* Modifier */

