         /*IMPORTACIONES*/
         @import "bem";
         // VARIABLES
         $rosa: #F1C6C5;
         $verdeclarito: #995353;
         $verde: #4A9E63;
         $colordefault: white;
         $ancho: 720px;
         $mobile: 578px;
         $tablet: 992px;
         $desktop: 1200px;
         $fondo: #f4f4f4;
         $fondo1: white;

        /*HEADER*/
        header {
            background-color: $fondo;
        }
        
        /*MAIN*/
        main { 
            background-color: $fondo1; 
            
            section {
                p { 
                    text-decoration-color: $verde;
                    display: flex;
                    align-items: center;
                }

            }
            
        }
    
             /*BUCLES*/
        @for $titulo from 1 through 6 {
            
            h#{$titulo} { 
                font: 2.5rem / $titulo;
            }
        }
             //MAPS con each
        $botones: (
            inicio: #995353,
            productos: #643737,
            preguntas: #F1C6C5,
            contactanos: #a08282,
        );
        @each $nombre, $boton in $botones {
            .boton-#{$nombre} {
                background-color: $boton;
                color: white;
                text-decoration: none;
            }
        }
                
        /*FOOTER*/
footer{
    background-color: $verde;
    div {
        h3{
            font-size: large;
        }
    }
    
}
